.movie {
    margin-bottom: 1rem;
}

.movie__image{
    border-radius: 2rem;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .movie {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 992px) {
    .movie {
        padding: 1rem;
        flex-basis: 25%;
    }
}